#root {
  max-width: full;
  text-align: center;
 background: 
  radial-gradient(
    circle at 85% 85%,
    rgba(128, 128, 128, 0.2),
    rgba(255, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0.7) 100%
  ),
  linear-gradient(to bottom, transparent 80%, rgba(0, 0, 0, 0.9));

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: black; /* or your gradient */
}
